{% extends "base.html" %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.svg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{ SITENAME }}</h1>
                        <hr class="small">
                        <span class="subheading">Sindicato de oficios varios</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    {% for article in articles_page.object_list %}
        <article>
            <a href="{{ SITEURL }}/{{ article.url }}">
                {% if article.image %}
                    <img alt="" class="img-art img-responsive" src="{{ SITEURL}}/{{ article.image }}">
                {% endif %}
                <h2 class="post-title">{{ article.title }}</h2>
            </a>
            {% if article.summary %}
                {{ article.summary }}
            {% endif %}
            <footer>
              <span class="post-neta">Publicado el
                <time class="entry-date published" datetime="{{ article.date.isoformat() }}">{{ article.date|strftime('%-d de %B de %Y') }}</time>
              </span>
              &middot;
              <span>
                  <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
              </span>
              {% import 'translations.html' as translations with context %}
              {% if translations.translations_for(article) %}
                <span class="post-meta">
                  {{ translations.translations_for(article) }}
                </span>
              {% endif %}
            </footer><!-- /.post-info -->
        </article>
        <hr>
    {% endfor %}

    {% include "pagination.html" %}
    <hr>
{% endblock content %}

