{% if DEFAULT_PAGINATION %}
    <!-- Pager -->
    <ul class="pager">
        <li class="next">
            {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Publicaciones antiguas &rarr;</a>
            {% endif %}
            {% if articles_page.has_previous() %}
                <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr; Publicaciones recientes</a>
            {% endif %}
        </li>
    </ul>
    Página {{ articles_page.number }} / {{ articles_paginator.num_pages }}
{% endif %}
