{% extends "index.html" %}
{% block title %}{{ SITENAME }} - Tag {{ tag }}{% endblock %}
{% block header %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Etiqueta {{ tag }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
