@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src:
		local('Open Sans Light Italic'),
		local('OpenSans-LightItalic'),
		url('Open_Sans_300italic.woff2') format('woff2'),
		url('Open_Sans_300italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src:
		local('Open Sans Italic'),
		local('OpenSans-Italic'),
		url('Open_Sans_400italic.woff2') format('woff2'),
		url('Open_Sans_400italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src:
		local('Open Sans SemiBold Italic'),
		local('OpenSans-SemiBoldItalic'),
		url('Open_Sans_600italic.woff2') format('woff2'),
		url('Open_Sans_600italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src:
		local('Open Sans Bold Italic'),
		local('OpenSans-BoldItalic'),
		url('Open_Sans_700italic.woff2') format('woff2'),
		url('Open_Sans_700italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	src:
		local('Open Sans ExtraBold Italic'),
		local('OpenSans-ExtraBoldItalic'),
		url('Open_Sans_800italic.woff2') format('woff2'),
		url('Open_Sans_800italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src:
		local('Open Sans Light'),
		local('OpenSans-Light'),
		url('Open_Sans_300.woff2') format('woff2'),
		url('Open_Sans_300.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Open Sans Regular'),
		local('OpenSans-Regular'),
		url('Open_Sans_400.woff2') format('woff2'),
		url('Open_Sans_400.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src:
		local('Open Sans SemiBold'),
		local('OpenSans-SemiBold'),
		url('Open_Sans_600.woff2') format('woff2'),
		url('Open_Sans_600.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local('Open Sans Bold'),
		local('OpenSans-Bold'),
		url('Open_Sans_700.woff2') format('woff2'),
		url('Open_Sans_700.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src:
		local('Open Sans ExtraBold'),
		local('OpenSans-ExtraBold'),
		url('Open_Sans_800.woff2') format('woff2'),
		url('Open_Sans_800.woff') format('woff');
}
@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	src:
		local('Lora Regular'),
		local('Lora-Regular'),
		url('Lora_400.woff2') format('woff2'),
		url('Lora_400.woff') format('woff');
}
@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	src:
		local('Lora Bold'),
		local('Lora-Bold'),
		url('Lora_700.woff2') format('woff2'),
		url('Lora_700.woff') format('woff');
}
@font-face {
	font-family: 'Lora';
	font-style: italic;
	font-weight: 400;
	src:
		local('Lora Italic'),
		local('Lora-Italic'),
		url('Lora_400italic.woff2') format('woff2'),
		url('Lora_400italic.woff') format('woff');
}
@font-face {
	font-family: 'Lora';
	font-style: italic;
	font-weight: 700;
	src:
		local('Lora Bold Italic'),
		local('Lora-BoldItalic'),
		url('Lora_700italic.woff2') format('woff2'),
		url('Lora_700italic.woff') format('woff');
}
