article img.img-art {
    margin: 0 auto;
    max-height: 500px;
}

video {
    width: 100%;
}

.more-link {
    white-space: nowrap;
}

.more-link::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "►";
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-size: 16px;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    top: 5px;
    vertical-align: top;
}

.more-link:hover {
    text-decoration: none;
}

.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}


/**
 * Hace que la barra de navegación desplegable para resoluciones menores
 * funcione sin JavaScript
 */

label[for=navbar-toggle-cbox] {
    cursor: pointer;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

#navbar-toggle-cbox {
    display:none
}


/**
 * Redes sociales
 */

.social {
    list-style: none;
    padding: 0;
}

.social li {
    display:inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.social li a {
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
}

.social li a strong {
    position: absolute;
    left: 20px;
    top: -1px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.social:hover li {
    opacity: 0.2;
}

.social li {
    transition-property: opacity;
    transition-duration: 500ms;
}

.social li a strong {
    opacity: 0;
    transition-property: opacity, top;
    transition-duration: 300ms;
}

.social li:hover {
    opacity: 1;
}

.social li:hover a strong {
    opacity: 1;
    top: -10px;
}

li.diaspora {
    background-image:url('../images/redes-sociales/diaspora.png');
}

li.facebook {
    background-image:url('../images/redes-sociales/facebook.png');
}

li.twitter {
    background-image:url('../images/redes-sociales/twitter.png');
}
